.modal-card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;

  color: #FFF;

  &:hover {
    cursor: pointer;
    background-color: rgba(20,20,20,0.5);
  }

  * {
    flex-grow: 1;
  }
}



.modal-card {
  display: flex;
  flex-direction: row;
  
  max-width:80vw;

  background-color: #FFF;
  border-radius: 1em;
  overflow: auto;

  .modal-card-image {
    flex-grow: 1;
    width: 50%;
    max-width: 50%;
    height: 100%;
    img {
      vertical-align: top;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
  }

  .modal-card-content {
    width: 50%;
    flex-grow: 1;

    background-color: #FFF;
    padding: 2em;

    text-align: left;

    overflow-y: auto;
  }

  .logo-button {
    background-color: #DDD;
    color: #555;
    border-radius: 1em;
    border: none;
    padding: 0;

    width: 45px;
    height: 45px;

    &:hover {
      cursor: pointer;
      background-color: #555;;
      color: #DDD;
    }
  }
}

@media (max-width: 756px) {
  .modal-card {
    width: 100%;
    max-width: 80vw;
    flex-grow: 1;
    position: relative;
    // flex-direction: column;
    // align-items: stretch;
    display: block;

    overflow: auto;

    .modal-card-image {
      flex-grow: 1;
      width: 100%;
      min-width: 80vw;
      img {
        vertical-align: top;
        width: 100%;
        min-width: 80vw;
        height:100%;
        object-fit: cover;
      }
    }

    .modal-card-content {
      width:70vw;
      flex-grow: 1;
      background-color: #FFF;
      padding: 5vw;

      min-height: 50vw;

      display: block;

      text-align: left;
    }
  }
}